#wrapper {
	margin: 0 auto;
	width: 90%;
	text-align: center;
}
#wrapper .next-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #E91E63;
  color: #FFF;
  border-bottom: solid 4px #9a1341;
  border-radius: 3px;
}